<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <title>{{ page.title }}</title>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="main.css"/>
    </head>
    <body>
      <div class="top">
          <span class="site-title">
            <h1>{{ page.title }}</h1>
          </span>
      </div>
      <div class="content">
        {{ page.content }}
      </div>
    </div>
  </body>
</html>
